# [4] ISNULL

In [ ]:
#이름이 없는 동물의 ID 출력하기

In [ ]:
SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NULL

In [ ]:
#null값을 갖는 개체에 no name 부여하기

In [ ]:
SELECT ANIMAL_TYPE, IFNULL(NAME,"No name"), SEX_UPON_INTAKE
FROM ANIMAL_INS

# [5] JOIN

In [ ]:
https://yoo-hyeok.tistory.com/98 
이미지 참고하기.

In [ ]:
이 문제를 풀기전에 합집합, 교집합, 차집합 쿼리를 정리해보고자 한다.

In [ ]:
#합집합
SELECT TABLEA.ID AS ID, TABLEA.NAME AS NAME
FROM TABLEA
UNION
SELECT TABLEB.ID AS ID, TABLEB.NAME AS NAME
FROM TABLEB

In [ ]:
#교집합
SELECT TABLEA.ID, TABLEA.NAME, TABLEB.NAME
FROM TABLEA LEFT JOIN TABLEB
ON TABLEA.ID=TABLEB.ID                                   #두개의 TABLE ID를 기준으로 교집합을 찾고싶음
WHERE TABLEB.ID IS NOT NULL                              #A와 B 모두에 속하는 집합을 찾기 위해

In [ ]:
#차집합
SELECT TABLEA.ID, TABLEA.NAME
FROM TABLEA LEFT JOIN TABLEB
ON TABLEA.ID = TABLEB.ID
WHERE TABLEB.ID IS NULL                                     #A에만 속하는 집합을 찾고 싶어서

In [ ]:
1.없어진 기록 찾기

In [ ]:
천재지변으로 인해 일부 데이터가 유실되었습니다. 
입양을 간 기록은 있는데, 보호소에 들어온 기록이 없는 동물의 ID와 이름을 ID 순으로 조회하는 SQL문을 작성해주세요.
즉 ANIMAL_INS에는 NAME이 있는데 ANIMAL_OUTS에는 NAME이 없는 집합을 출력하기 (차집합 출력)

In [ ]:
#ID 변수에 대해 OUTS에만 존재하는 집합 출력 (OUTS-INS)
SELECT ANIMAL_OUTS.ANIMAL_ID, ANIMAL_OUTS.NAME
FROM ANIMAL_INS RIGHT JOIN ANIMAL_OUTS
ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID
WHERE ANIMAL_INS.ANIMAL_ID IS NULL

In [ ]:
2. 있었는데요 없었습니다

In [ ]:
# ANIMAL_INS의 DATETIME보다 ANIMAL_OUTS의 DATETIME이 더 이르면 오류로 판단해
# 이러한 오류가 있는 ANIMAL_ID를 출력하기
SELECT ANIMAL_INS.ANIMAL_ID, ANIMAL_INS.NAME
FROM ANIMAL_INS JOIN ANIMAL_OUTS
ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID
WHERE ANIMAL_INS.DATETIME > ANIMAL_OUTS.DATETIME
ORDER BY ANIMAL_INS.DATETIME

In [ ]:
3. 보호기간이 가장 긴 동물

In [ ]:
#INS에는 있지만 OUTS에는 없는 동물 중, 
#INS의 DATETIME이 가장 빠른 순서로 3마리만 출력
SELECT ANIMAL_INS.NAME, ANIMAL_INS.DATETIME
FROM ANIMAL_INS LEFT JOIN ANIMAL_OUTS
ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID
WHERE ANIMAL_OUTS.ANIMAL_ID IS NULL
ORDER BY ANIMAL_INS.DATETIME
LIMIT 3

In [ ]:
4. 중성화를 거친 동물

In [ ]:
#보호소에서 중성화 수술을 거친 동물 정보를 알아보려 합니다. 
#보호소에 들어올 당시에는 중성화되지 않았지만, 보호소를 나갈 당시에는 
#중성화된 동물의 아이디와 생물 종, 이름을 아이디 순으로 조회하는
#SQL 문을 작성해주세요.
#INS에서는 Intact가 포함되어 있고 OUTS에는 Spayed 또는 Neutered가 포함된 동물조회
SELECT ANIMAL_INS.ANIMAL_ID, ANIMAL_INS.ANIMAL_TYPE, ANIMAL_INS.NAME
FROM ANIMAL_INS JOIN ANIMAL_OUTS
ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID
WHERE ANIMAL_INS.SEX_UPON_INTAKE LIKE "%Intact%" 
AND ANIMAL_OUTS.SEX_UPON_OUTCOME NOT LIKE "%Intact%"
ORDER BY ANIMAL_ID

# [6] String, Date

In [ ]:
1. 동물 이름 찾기

In [ ]:
#동물 보호소에 들어온 동물 중 이름이 Lucy, Ella, Pickle, Rogan, Sabrina, Mitty인 
#동물의 아이디와 이름, 성별 및 중성화 여부를 조회하는 SQL 문을 작성해주세요.
SELECT ANIMAL_ID, NAME, SEX_UPON_INTAKE
FROM ANIMAL_INS
WHERE NAME IN ("Lucy", "Ella", "Pickle", "Rogan", "Sabrina", "Mitty")
ORDER BY ANIMAL_ID

In [ ]:
2. 이름에 EL이 들어가는 동물 찾기

In [ ]:
#동물 보호소에 들어온 동물 이름 중, 이름에 EL이 들어가는 개의 
#아이디와 이름을 조회하는 SQL문을 작성해주세요.
#이때 결과는 이름 순으로 조회해주세요. 단, 이름의 대소문자는 구분하지 않습니다.

SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE NAME LIKE "%EL%" AND ANIMAL_TYPE="Dog"
ORDER BY NAME

In [ ]:
3. 중성화여부에 대한 변수만들기 (CASE-WHEN-THEN구문)

In [ ]:
#중성화여부를 파악 중성화되어있다면 O, 아니면 X로 표시하기
SELECT ANIMAL_ID, NAME,
  (CASE SEX_UPON_INTAKE
  WHEN 'Intact Male' THEN 'X'
  WHEN 'Intact Female' THEN 'X' ELSE 'O' END) AS '중성화'
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

In [ ]:
4. 보호기간이 긴 순서대로 출력

In [ ]:
#보호기간이 가장 긴 동물 2마리 출력
SELECT INS.ANIMAL_ID, INS.NAME
FROM ANIMAL_INS AS INS, ANIMAL_OUTS AS OUTS
WHERE INS.ANIMAL_ID = OUTS.ANIMAL_ID
ORDER BY OUTS.DATETIME - INS.DATETIME DESC
LIMIT 2;

In [ ]:
5. 들어온 날짜 조회하기 - DATE_FORMAT

In [ ]:
#ANIMAL_INS 테이블에 등록된 모든 레코드에 대해, 
#각 동물의 아이디와 이름, 들어온 날짜1를 조회하는 SQL문을 작성해주세요. 
#이때 결과는 아이디 순으로 조회해야 합니다.

SELECT ANIMAL_ID, NAME,DATE_FORMAT(DATETIME, '%Y-%m-%d') AS '날짜'
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;