SQL문 기본 문제 - 유형별 연습(1) SELECT,SUM&MIN&MAX, GROUP BY

문제 출처 : https://programmers.co.kr/learn/challenges?tab=sql_practice_kit

# [1] SELECT

1.모든 레코드 조회하기
  동물 보호소에 들어온 모든 동물의 정보를 ANIMAL_ID순으로 조회하는 SQL문을 작성해주세요. SQL을 실행하면 다음과 같이 출력되어야 합니다.

SELECT *
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

2. 동물 보호소에 들어온 모든 동물의 이름과 보호 시작일을 조회하는 SQL문을 작성해주세요. 
   이때 결과는 ANIMAL_ID 역순으로 보여주세요.

SELECT NAME, DATETIME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID DESC               #뒤에 DESC하면 역순정렬, ASC가 default

3. 동물 보호소에 들어온 동물 중 아픈 동물1의 아이디와 이름을 조회하는 SQL 문을 작성해주세요.
   이때 결과는 아이디 순으로 조회해주세요.

SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION='Sick'
ORDER BY ANIMAL_ID

4. 동물 보호소에 들어온 동물 중 젊은 동물1의 아이디와 이름을 조회하는 SQL 문을 작성해주세요. 
   이때 결과는 아이디 순으로 조회해주세요. 
   INTAKE_CONDITION이 Aged가 아닌 경우를 뜻함

SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged'

5. 상위 N개 레코드 가져오기
   동물 보호소에 가장 먼저 들어온 동물의 이름을 조회하는 SQL 문을 작성해주세요.

SELECT NAME
FROM ANIMAL_INS
ORDER BY DATETIME
LIMIT 1

#LIMIT을 넣어서 제일 위 하나의 행만 조회한다

# [2] SUM, MAX, MIN

동물 보호소에 동물이 몇 마리 들어왔는지 조회하는 SQL 문을 작성해주세요.

SELECT COUNT(*) AS count
FROM ANIMAL_INS

동물 보호소에 들어온 동물의 이름은 몇 개인지 조회하는 SQL 문을 작성해주세요. 
이때 이름이 NULL인 경우는 집계하지 않으며 중복되는 이름은 하나로 칩니다.

SELECT COUNT(DISTINCT NAME) AS count
FROM ANIMAL_INS
WHERE NAME IS NOT NULL

# [3] GROUP BY

1. 동물 보호소에 들어온 동물 중 고양이와 개가 각각 몇 마리인지 조회하는 SQL문을 작성해주세요. 
   이때 고양이를 개보다 먼저 조회해주세요.

SELECT ANIMAL_TYPE, COUNT(*) AS count
FROM ANIMAL_INS
GROUP BY ANIMAL_TYPE
ORDER BY ANIMAL_TYPE

2. 동명 동물 수 찾기.
   NAME이 NULL인 동물은 제외하고 출력
   NAME에 대한 오름차순 정렬로 결과 얻기
   #한번 더 연습해보기

SELECT NAME, COUNT(*)
FROM ANIMAL_INS
WHERE NAME IS NOT NULL
GROUP BY NAME
HAVING COUNT(NAME)>=2
ORDER BY NAME

3. 보호소에서는 몇 시에 입양이 가장 활발하게 일어나는지 알아보려 합니다. 
   09:00부터 19:59까지, 각 시간대별로 입양이 몇 건이나 발생했는지 조회하는 SQL문을 작성해주세요. 
   이때 결과는 시간대 순으로 정렬해야 합니다.

먼저 DATETIME에서 시간만을 추출해 그를 HOUR변수로 저장하고, HOUR변수값에 대해 COUNT해주어야 한다.
SELECT HOUR(DATETIME) AS HOUR , COUNT(DATETIME) AS COUNT
FROM ANIMAL_OUTS
WHERE HOUR(DATETIME)>=9 AND HOUR(DATETIME)<=19
GROUP BY HOUR(DATETIME)
ORDER BY HOUR(DATETIME)

4. 보호소에서는 몇 시에 입양이 가장 활발하게 일어나는지 알아보려 합니다. 
   0시부터 23시까지, 각 시간대별로 입양이 몇 건이나 발생했는지 조회하는 SQL문을 작성해주세요. 
   이때 결과는 시간대 순으로 정렬해야 합니다.

SELECT HOUR(DATETIME) AS HOUR, COUNT(DATETIME) AS COUNT
FROM ANIMAL_OUTS
GROUP BY HOUR(DATETIME)
ORDER BY HOUR(DATETIME)
이렇게 하면 COUNT=0인 시간대는 출력되지 않는다.
논의해볼 문제
답지에서는 SET을 활용했는데 기업 SQL문제에서 SET을 활용하는 문제는 잘 나오지 않는다고 함..

#참고용 답
SET @HOUR_LIST = -1; 
SELECT 
    (@HOUR_LIST := @HOUR_LIST + 1) AS 'HOUR',
    (SELECT COUNT(*) 
     FROM ANIMAL_OUTS 
     WHERE HOUR(DATETIME) = @HOUR_LIST) AS 'COUNTS' 
FROM ANIMAL_OUTS 
WHERE @HOUR_LIST <23;