<a href="https://colab.research.google.com/github/Suyeon-Woo/Algorithm-study/blob/master/programmers_lv1(1~6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

프로그래머스 level1.

1. 두 개 뽑아서 더하기

In [ ]:
#시도1 - 실패
def solution(numbers):
    answer = []
    n = len(numbers)
    numbers.sort()
    for i in range(n-1):
        for j in range(i+1,n):
            a=numbers[i]+numbers[j]
            answer=[a]
        return answer

In [45]:
# 완성 답안
def solution(numbers):
  answer = []
  answer_temp = []
  n = len(numbers)
  for i in range(n-1):
    for j in range(i+1,n):
      answer_temp.append(numbers[i]+numbers[j])
      answer_temp.sort()
      for k in answer_temp:
        if k not in answer:
          answer.append(k)
          answer.sort()
  return answer

In [48]:
numbers = [2,1,3,4,1]
solution(numbers)

[2, 3, 4, 5, 6, 7]

In [47]:
numbers = [5,0,2,7]
solution(numbers)

[2, 5, 7, 9, 12]

3. 완주하지 못한 선수

   참가목록에는 있는데 완주목록에는 없는 선수 찾기

In [ ]:
def solution(participant, completion):
    participant.sort()
    completion.sort()
    for p,c in zip(participant,completion):
        if p!=c:
            return p
    return participant[-1]

In [ ]:
participant=['a','b','c','d']
completion=['a','b','c']
solution(participant,completion)

'd'

In [ ]:
# zip은 두 리스트를 묶어서 비교해준다. 참가자와 완주자를 비교하는데, 정렬해서 비교했을 때 다르면 리턴해주는 경우와,
# 참가자가 완주자보다 항상 하나더 많기 때문에 마지막 참가자가 완주하지 않았을 경우를 생각해 participant[-1]을 해준것이다.

5. K번째 수

In [ ]:
# i번째부터 j번째 숫자까지 자르고 정렬했을 때 K번째에 있는 수 구하기

In [ ]:
def solution(array, commands):
    answer = []
    temp = []
    for command in commands:
        temp = array[command[0]-1:command[1]]
        temp.sort()
        answer.append(temp[command[2]-1])
    return answer

In [ ]:
array = [1,5,2,6,3,7,4]
commands=[[2,5,3],[4,4,1],[1,7,3]]
solution(array,commands)

[5, 6, 3]

4. 모의고사

[문제 설명]

수포자는 수학을 포기한 사람의 준말입니다. 수포자 삼인방은 모의고사에 수학 문제를 전부 찍으려 합니다. 

수포자는 1번 문제부터 마지막 문제까지 다음과 같이 찍습니다.

1번 수포자가 찍는 방식: 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, ...

2번 수포자가 찍는 방식: 2, 1, 2, 3, 2, 4, 2, 5, 2, 1, 2, 3, 2, 4, 2, 5, ...

3번 수포자가 찍는 방식: 3, 3, 1, 1, 2, 2, 4, 4, 5, 5, 3, 3, 1, 1, 2, 2, 4, 4, 5, 5, ...

1번 문제부터 마지막 문제까지의 정답이 순서대로 들은 배열 answers가 주어졌을 때, 

가장 많은 문제를 맞힌 사람이 누구인지 배열에 담아 return 하도록 solution 함수를 작성해주세요.

[제한 조건]

시험은 최대 10,000 문제로 구성되어있습니다.
문제의 정답은 1, 2, 3, 4, 5중 하나입니다.
가장 높은 점수를 받은 사람이 여럿일 경우, return하는 값을 오름차순 정렬해주세요.

In [ ]:
from itertools import chain,repeat

def solution(answers):
    
    answer = []
    
    a = [1,2,3,4,5]
    b = [2,1,2,3,2,4,2,5]
    c = [3,3,1,1,2,2,4,4,5,5]
    
    n = len(answers)
    n_a = n//len(a) + 1
    n_b = n//len(b) + 1
    n_c = n//len(c) + 1
    
    first=list(chain.from_iterable(repeat(a, n_a)))
    second=list(chain.from_iterable(repeat(b, n_b)))
    third=list(chain.from_iterable(repeat(c, n_c)))
    
    count_a = 0
    count_b = 0
    count_c = 0
    
    for i in range(n):
        if first[i]==answers[i]:
            count_a+=1
        if second[i]==answers[i]:
            count_b+=1
        if third[i]==answers[i]:
            count_c+=1
            
    score= [count_a,count_b,count_c]
            
    for j in range(len(score)):
        if score[j]==max(score):
            answer.append(j+1)
    return answer

In [ ]:
answers = [1,3,2,4,2]
solution(answers)

[1, 2, 3]

In [ ]:
#모범 답안
def solution(answers):
    pattern1 = [1,2,3,4,5]
    pattern2 = [2,1,2,3,2,4,2,5]
    pattern3 = [3,3,1,1,2,2,4,4,5,5]
    score = [0, 0, 0]
    result = []

    for idx, answer in enumerate(answers):
        if answer == pattern1[idx%len(pattern1)]:
            score[0] += 1
        if answer == pattern2[idx%len(pattern2)]:
            score[1] += 1
        if answer == pattern3[idx%len(pattern3)]:
            score[2] += 1

    for idx, s in enumerate(score):
        if s == max(score):
            result.append(idx+1)

    return result

6. 체육복

[문제 설명]

점심시간에 도둑이 들어, 일부 학생이 체육복을 도난당했습니다. 다행히 여벌 체육복이 있는 학생이 이들에게 체육복을 빌려주려 합니다. 

학생들의 번호는 체격 순으로 매겨져 있어, 바로 앞번호의 학생이나 바로 뒷번호의 학생에게만 체육복을 빌려줄 수 있습니다. 

예를 들어, 4번 학생은 3번 학생이나 5번 학생에게만 체육복을 빌려줄 수 있습니다. 

체육복이 없으면 수업을 들을 수 없기 때문에 체육복을 적절히 빌려 최대한 많은 학생이 체육수업을 들어야 합니다.

전체 학생의 수 n, 체육복을 도난당한 학생들의 번호가 담긴 배열 lost, 

여벌의 체육복을 가져온 학생들의 번호가 담긴 배열 reserve가 매개변수로 주어질 때, 

체육수업을 들을 수 있는 학생의 최댓값을 return 하도록 solution 함수를 작성해주세요.

In [ ]:
#시도 1 - 실패 정답률 33퍼
def solution(n, lost, reserve):
    answer = 0
    ready = n-len(lost)
    
    reserve_m = [0]*len(reserve)
    
    for i in range(len(reserve)):
        reserve_m[i]=reserve[i]+1
    
    
    borrow = list(set(lost)&set(reserve_m))                  #교집합 찾기
    answer=ready+len(borrow)
    return answer

In [ ]:
#시도 2 - 실패 정답률 40퍼
def solution(n, lost, reserve):
    answer = 0
    ready = n-len(lost)
    
    reserve_p = [0]*len(reserve)
    reserve_m = [0]*len(reserve)
    
    for i in range(len(reserve)):
        reserve_p[i]=reserve[i]+1
        
    for j in range(len(reserve)):
        reserve_m[j]=reserve[j]-1
    
    reserve_i = list(set(reserve_p)|set(reserve_m))         #리스트 합집합
    
    borrow = list(set(lost)&set(reserve_i))                  #교집합 찾기
    answer=ready+len(borrow)
    return answer

In [ ]:
# 정답코드
def solution(n,lost,reserve):
    answer = 0
    count = list(set(lost)&set(reserve))
    lost2 = list(set(lost)-set(reserve))
    reserve2 = list(set(reserve)-set(lost))
    
    for i in lost2:
        if (i+1 in reserve2):
            count.append(i)
            reserve2.remove(i+1)
        elif (i-1 in reserve2):
            count.append(i)
            reserve2.remove(i-1)
    answer = n-len(lost)+len(count)
    return answer

In [ ]:
n = 5
lost = [2,4]
reserve = [1,3,5]
solution(n,lost,reserve)

5

In [ ]:
n = 3
lost =[2]
reserve = [3]
solution(n,lost,reserve)

3