# 2016년 요일 구하기

In [ ]:
def solution(a, b):
    answer = ''
    return answer

In [ ]:
#나머지를 활용
def solution(a, b):
    day = ["THU","FRI","SAT","SUN","MON","TUE","WED"]          #1월1일이 금요일이므로 7로 나눴을 때 인덱스 1이 금요일로 나오게 배열을 설정
    mon = [31, 29, 31, 30, 31, 30 , 31, 31, 30, 31, 30, 31]   #각 달의 날짜만큼 배열로 저장
    
    return day[(sum(mon[:a-1]) + b) % 7]

In [ ]:
#datetime 함수 활용
import datetime

def solution(a,b):
    t = 'MON TUE WED THU FRI SAT SUN'.split()
    return t[datetime.datetime(2016, a, b).weekday()]

# 가운데 글자 가져오기

단어 s의 가운데 글자를 반환하는 함수, solution을 만들어 보세요. 단어의 길이가 짝수라면 가운데 두글자를 반환하면 됩니다.

재한사항 : s는 길이가 1 이상, 100이하인 스트링입니다.

In [ ]:
def solution(s):
    answer = ''
    length=len(s)
    if length%2==0:
        answer=s[length//2-1:length//2+1]
    elif length%2==1:
        answer=s[length//2]
    return answer

In [ ]:
s = "qwer"
solution(s)

'we'

# 같은 숫자는 싫어

배열 arr가 주어집니다. 배열 arr의 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 

이때, 배열 arr에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 

단, 제거된 후 남은 수들을 반환할 때는 배열 arr의 원소들의 순서를 유지해야 합니다. 

배열 arr에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 return 하는 solution 함수를 완성해 주세요.

In [ ]:
arr = [1,1,3,3,0,1,1]

In [ ]:
# array를 훼손하면 안되나 싶어서 arr1로 복제해서 해봤는데
# 여기서는 잘 나오지만 프로그래머스 케이스 통과가 안됨.
# 원래 인덱스가 아니라 업데이트 된 인덱스로 for문을 돌아서 안된다. 
def solution(arr):
    arr1 = arr 
    answer = []
    for i in range(len(arr1)-1):
        if arr1[i]==arr1[i+1]:
            arr1.pop(i+1)
            answer+arr1
    return answer

In [16]:
def solution(arr):
    answer = []
    len_arr = len(arr)

    for i in range(1,len_arr-1):
        if arr[i-1]!=arr[i]:
            answer.append(arr[i-1])
            
    if arr[-1]==arr[-2]:
        answer.append(arr[-1])
    else :
      answer.extend(arr[-2:])
     
      return answer

In [17]:
arr = [1,1,3,3,0,1,2]
solution(arr)

1 1
1 3
3 3
3 0
0 1

[1, 3, 0, 1, 2]

In [ ]:
#정답 코드
def solution(arr):
    answer=[]
    answer.append(arr[0])
    for i in range(1,len(arr)):
        if arr[i] != arr[i-1]:
            answer.append(arr[i])
    return answer

In [ ]:
solution(arr)

[1, 3, 0, 1]

# 나누어 떨어지는 숫자 배열

array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환하는 함수, solution을 작성해주세요.

divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 반환하세요.

In [ ]:
#테스트케이스는 모두 통과
def solution(arr, divisor):
    answer = []
    for i in arr:
        if i%divisor==0:
            answer.append(i)
            answer.sort()
    if not answer:               #answer가 null이면
          answer.append(-1)
    return answer

# 두 정수 사이의 합

두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.

예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

In [ ]:
def solution(a, b):
    answer = 0
    if a>b : a,b = b,a
    num = list(range(a,b+1))
    answer=sum(num)
    return answer

In [ ]:
a=5
b=3
solution(a,b)

12

# 문자열 내 마음대로 정렬하기

문자열로 구성된 리스트 strings와, 정수 n이 주어졌을 때, 각 문자열의 인덱스 n번째 글자를 기준으로 오름차순 정렬하려 합니다. 

예를 들어 strings가 [sun, bed, car]이고 n이 1이면 각 단어의 인덱스 1의 문자 u, e, a로 strings를 정렬합니다.

In [ ]:
#이렇게 하면 n번째 인덱스가 같은 string이 정렬이 안되는 오류가 생김.
def solution(strings, n):
    answer = []
    answer=sorted(strings,key=lambda x : x[n])
    return answer

입력값 〉	["abce", "abcd", "cdx"], 2

기댓값 〉	["abcd", "abce", "cdx"]

실행 결과 〉	실행한 결괏값 ["abce","abcd","cdx"]이(가) 기댓값 ["abcd","abce","cdx"]와(과) 다릅니다.

In [ ]:
"a">"b"

False

In [ ]:
#정답 : sort 한번 더 해주면 됨..
def solution(strings, n):
    return sorted(sorted(strings), key=lambda x: x[n])

In [ ]:
def solution(strings, n):
    # first_key = [i[n] for i in strings]
    answer = sorted(strings, key=lambda x : (x[n],x))
    return answer

In [ ]:
# numpy,pandas는 쓸 수 없음.
# collections, itertools 쓰면 좋음.